Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2017-2020 Jens Lechtenb√∂rger
# SPDX-License-Identifier: CC0-1.0

image: registry.gitlab.com/oer/docker/emacs-reveal:6.2.0

test:
  script:
    - make check
  only:
    refs:
      - master
      - merge_requests
    changes:
      - Makefile
      - "**/*.el"

pages:
  stage: deploy
  script:
    - emacs --batch -l /root/.emacs -l test-cases/publish.el
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
      - lechten
    changes:
      - "**/*.org"
      - "**/*.el"
      - ".gitlab-ci.yml"

Version 3.0.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Be more verbose in case of failure
  org-re-reveal-tests.el
Due: test, pages

Activate test case
  org-re-reveal-tests.el
Due: test, pages

Rename internal function
  org-re-reveal.el
Due: test, pages

Add test case for link directions
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-internal-links.html
  test-cases/test-internal-links.org
Due: test, pages

Version 3.0.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Remove outdated online location for reveal.js
  org-re-reveal.el
Due: test, pages

Version 3.0.3
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Allow empty string as empty list
  org-re-reveal.el
Due: test, pages

Version 3.0.4
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Clarify introductory notes
  CHANGELOG.org
Due: pages

Remove superfluous apostrophes
  org-re-reveal.el
Due: test, pages

Version 3.0.5
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Enable export of notes to PDF
  org-re-reveal.el
Due: test, pages

Add test case for PDF export of notes
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-pdf-notes.html
  test-cases/test-pdf-notes.org
Due: test, pages

Document PDF export of notes
  Readme.org
Due: pages

Version 3.1.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Improve wording on remote location
  Readme.org
Due: pages

Clarify different versions
  Readme.org
Due: pages

Point to Readme versions
  org-re-reveal.el
Due: test, pages

Version 3.1.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Improve wording
  Readme.org
Due: pages

Explain use of extra attributes for backgrounds
  Readme.org
Due: pages

Wording
  Readme.org
Due: pages

Refactor code
  org-re-reveal.el
Due: test, pages

Add and use org-re-reveal-multiplex-client-ext
  org-re-reveal.el
Due: test, pages

Add comment about export options
  org-re-reveal.el
Due: test, pages

Document customizable variables
  Readme.org
Due: pages

Version 3.2.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Improve doc strings for config options
  org-re-reveal.el
Due: test, pages

Improve installation instructions
  Readme.org
Due: pages

Remove quote-block transcoder function
  Makefile
  org-re-reveal-tests.el
  org-re-reveal.el
  test-cases/expect-blockquote.html
  test-cases/test-blockquote.org
Due: test, pages

Document MR !30
  CHANGELOG.org
Due: pages

Update org-plus-contrib to Org 9.4
  Makefile
Due: test

Revert "Update org-plus-contrib to Org 9.4"
  Makefile
Due: test

Enable merging fragment classes with classes already in attr_html
  CHANGELOG.org
  Makefile
  org-re-reveal-tests.el
  org-re-reveal.el
  test-cases/expect-merge-classes.html
  test-cases/test-merge-classes.org
Due: test, pages

Document %r in org-re-reveal-highlight-css
  org-re-reveal.el
Due: test, pages

Document code_attribs
  Readme.org
Due: pages

Use HTML attributes on source code blocks
  org-re-reveal.el
Due: test, pages

Remove unused internal functions
  org-re-reveal.el
Due: test, pages
