Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  script:
  - make dcheck

pages:
  stage: deploy
  script:
  - emacs --batch -L /root/.emacs.d/elpa/emacs-reveal/org-mode/lisp --load org-re-reveal.el --load test-cases/publish.el
  artifacts:
    paths:
    - public

Version 3.33.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add publishing messages
  org-re-reveal.el
Due: test, pages

Fix doc strings
  org-re-reveal.el
Due: test, pages

Improve doc string of org-re-reveal-tts-normalize-table
  org-re-reveal.el
Due: test, pages

Add remote CSS and CSS fix.
  test-cases/test-remote-plugin.org
Due: pages

Update test case
  test-cases/expect-remote-plugin.html
Due: none

Deploy new test cases
  .gitlab-ci.yml
Due: test, pages

Avoid preamble
  test-cases/test-remote-plugin.org
Due: pages

Update TTS rule for NAPI
  org-re-reveal.el
Due: test, pages

Add and use org-re-reveal-klipse-js-init
  org-re-reveal.el
Due: test, pages

Update test cases
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
Due: none

Version 3.34.0
  CHANGELOG.org
  Readme.org
  org-re-reveal.el
Due: test, pages

Avoid byte compiler warning
  org-re-reveal.el
Due: test, pages

Version 3.34.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Fix compat check
  org-re-reveal.el
Due: test, pages

Version 3.34.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Improve doc string to include 5.x explicitly
  org-re-reveal.el
Due: test, pages

Explain support for version 5.x
  Readme.org
Due: pages

Add customizable variable org-re-reveal-browse-to-id
  org-re-reveal.el
Due: test, pages

Avoid passive voice
  org-re-reveal.el
Due: test, pages

Version 3.35.0
  CHANGELOG.org
  Readme.org
  org-re-reveal.el
Due: test, pages

Use reveal.js version from Chalkboard demo
  test-cases/test-remote-plugin.org
Due: pages

Update expected file
  test-cases/expect-remote-plugin.html
Due: none

Honor org-export-timestamp-file
  org-re-reveal.el
Due: test, pages

Ignore timestamp comment for test cases
  org-re-reveal-tests.el
Due: test, pages

Version 3.36.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Extend test case to address issue #120
  test-cases/expect-remote-plugin.html
  test-cases/test-remote-plugin.org
Due: pages

Add and use org-re-reveal--maybe-replace-macros
  CHANGELOG.org
  Makefile
  org-re-reveal-tests.el
  org-re-reveal.el
Due: test, pages

Add test cases
  test-cases/expect-title-slide-macro.html
  test-cases/test-title-slide-macro.org
Due: pages

Use separate Docker images for testing and deployment
  .gitlab-ci.yml
Due: test, pages

Path conditions:
  test: any of: Makefile, **/*.el, .gitlab-ci.yml
  pages: any of: Makefile, **/*.org, **/*.el, .gitlab-ci.yml
