Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  script:
  - make check

pages:
  stage: deploy
  script:
  - emacs --batch -l /root/.emacs -l test-cases/publish.el
  artifacts:
    paths:
    - public

Remove superfluous space character
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
Due: none

Refactor computation of attributes for pre tag
  org-re-reveal.el
Due: test, pages

Remove superfluous space character
  test-cases/expect-highlightjs.html
Due: none

Add test cases
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-src-blocks-hl.html
  test-cases/expect-src-blocks-no-hl.html
  test-cases/test-src-blocks-hl.org
  test-cases/test-src-blocks-no-hl.org
Due: test, pages

Version 3.2.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update org-plus-contrib to Org 9.4
  Makefile
Due: test

Fix org-html-container-element
  org-re-reveal.el
Due: test, pages

Version 3.2.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Refactor internal functions
  org-re-reveal.el
Due: test, pages

Support speaker notes on title slide
  org-re-reveal.el
Due: test, pages

Add test case for notes on title slide
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-title-slide-notes.html
  test-cases/test-notes.org
  test-cases/test-title-slide-notes.org
Due: test, pages

Explain org-re-reveal-notes-format-string
  org-re-reveal.el
Due: test, pages

Document speaker notes on title slide
  Readme.org
Due: pages

Add slash to URL
  test-cases/expect-title-slide-notes.html
  test-cases/test-notes.org
Due: pages

Version 3.3.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Rename config file
  test-cases/config-title-notes.org
  test-cases/test-title-slide-notes.org
Due: pages

Load local version of org-re-reveal
  test-cases/publish.el
Due: test, pages

Publish with local version of org-re-reveal
  .gitlab-ci.yml
Due: pages

Fix indentation
  .gitlab-ci.yml
Due: pages

Ignore local test files
  .gitignore
Due: none

Split pages
  Readme.org
Due: pages

Fix typo
  Readme.org
Due: pages

Add more test cases
  index.org
Due: pages

Fix typo
  index.org
Due: pages

Explain org-re-reveal-plugin-config
  Readme.org
Due: pages

Remove superfluous comma
  Readme.org
Due: pages

Fix quotes
  org-re-reveal.el
Due: test, pages

Add keyword REVEAL_ADD_PLUGIN
  Makefile
  org-re-reveal-tests.el
  org-re-reveal.el
Due: test, pages

Document keyword REVEAL_ADD_PLUGIN
  Readme.org
Due: pages

Add test files
  test-cases/expect-plugins.html
  test-cases/test-plugins.org
Due: pages

Version 3.4.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add defer attribute to klipse script
  org-re-reveal.el
Due: test, pages

Version 3.4.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update test cases
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
Due: none

Remove defer attribute
  org-re-reveal.el
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
Due: test, pages

Version 3.4.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add comment
  index.org
Due: pages

Fix issue #55
  org-re-reveal.el
Due: test, pages

Version 3.4.3
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Refactor treatment of footers
  org-re-reveal.el
Due: test, pages

Path conditions:
  test: any of: Makefile, **/*.el
  pages: any of: **/*.org, **/*.el, .gitlab-ci.yml
